html, body {
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-app {
    width: 550px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
}