@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

body {
    width: 100%;
    margin: 0;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-app * {
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    font-weight: 16px;
    font-style: normal;
}

.main-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    border-radius: 10px;
    margin: 30px 0 30px 0;
    box-shadow: rgb(42, 42, 42) 10px 10px 10px;
}

/* Use this class when a user searched the location */
.searched-location-main-app {
    width: 550px;
    height: 750px;
}

/* Use this class when a user firstly entered your app */
.default-main-app {
    width: 300px;
    height: 100px;
}

#search-input {
    outline: none;
    border: none;
}

#search-button {
    background-color: rgb(42, 42, 42);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}